body{
 margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin: 50px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Marvel', sans-serif;
  font-size:   5rem;
  color: rgb(128, 128, 128);
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: rgb(128, 128, 128);
  font-weight:bold;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: grey;
}
a{
  color: #66BFBF;
}

a:hover{
  color:#EAF6F6;
}

.h1-title{
  margin: 50px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Marvel', sans-serif;
  font-size:   5rem;
  color: #F5F2E7;
  line-height: 2;
}
.h2-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #F5F2E7;
  font-weight:bold;
}
.top-container{
  background-image: url("file:///C:/Users/denni/OneDrive/Escritorio/Web%20Development/CSS%20-%20My%20Site/images/fondo.jpg");
background-size: 1350px;
background-repeat: no-repeat;
   background-color: #cccccc;
background-color: #F0E9D2;
padding-top: 50px;
}

.hr-top-middle{
  border-style: dotted solid;
  color: rgb(128, 128, 128);
  margin: 100px auto;
border-width: thick;
border-bottom: none;
border-left: none;
border-right: none;
width:45px;
height: 12px;

}
.middle-container{
  margin-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
  color: #40514E;
  text-justify: inter-word;
  line-height: 2;
}



.skill-row{

margin-top: 50px;
margin-bottom: 50px;
text-align: left;
line-height: 2;
}



.bottom-container{
}

.Dev{
  text-decoration: underline;
}

.top-cloud{
  width: 200px;
  position: absolute;
  right: 100px;
  bottom:100px;
}
.btn {
  position: relative;
  top: 60px;
  bottom: 20px;
  background: #395B64;
  background-image: -webkit-linear-gradient(top, #395B64, #F5F2E7);
  background-image: -moz-linear-gradient(top, #395B64, #F5F2E7);
  background-image: -ms-linear-gradient(top, #395B64, #F5F2E7);
  background-image: -o-linear-gradient(top, #395B64, #F5F2E7);
  background-image: linear-gradient(to bottom, #395B64, #F5F2E7);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #395B64;
  background-image: -webkit-linear-gradient(top, #395B64, #F0FFF0);
  background-image: -moz-linear-gradient(top, #395B64, #F0FFF0);
  background-image: -ms-linear-gradient(top, #395B64, #F0FFF0);
  background-image: -o-linear-gradient(top, #395B64, #F0FFF0);
  background-image: linear-gradient(to bottom, #395B64, #F0FFF0);
  text-decoration: none;
}
.bottom-container{
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 2;
  text-align: center;
  margin-top: 150px;
  background-color: rgb(105, 105, 105);
}
.footer-link{
  margin-top: 30px;
  padding-left: 30px;
  color: rgb(72, 61, 139);
  text-decoration: none;
}
.nombreCreador{
  margin-top: 30px;
  color: #EAF6F6;
  font-size: 0.75rem;

}
.bottom-cloud{
    width: 200px;
  position: absolute;
  left: 100px;
  bottom:100px;
}
.img-laptop{
float: left;
  width: 25%;
  margin-right: 30px;
}

.img-people{
  float: right;
  width: 21%;
  margin-left: 30px;
}
.img-mountain{
  width: 24%;
}
